body {
	font-family: Montserrat, sans-serif;
}

/*------NAVBAR--------*/

nav{
	background-color: #62567E !important;
}

.navbar-brand {
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 0.5px;
	line-height: 21.94px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	color: #D7B377 !important;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	padding: 1rem;
}

.logo {
	color: #fff;
	font-size: 1.5rem;
	font-weight: bold;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 1rem;
	margin: 0;
	padding: 0;
}

.nav-links li {
	display: inline;
}

.nav-links a {
	color: #fff;
	text-decoration: none;
	padding: 0.5rem 1rem;
	transition: background-color 0.3s;
}

.nav-links a:hover {
	background-color: #575757;
	border-radius: 5px;
}

.external-content-btn {
	display: none;
	background-color: #fff;
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 5px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
	.nav-links {
		display: none;
		flex-direction: column;
		width: 100%;
	}

	.nav-links li {
		text-align: center;
		margin: 0.5rem 0;
	}

	.external-content-btn {
		display: block;
	}


}

#hero{
	min-height: 500px;
	margin-bottom: 50px ;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("./images/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#title{
	font-family: Montserrat;
	font-size: 64px;
	font-weight: 600 !important;
	line-height: 72px;
	letter-spacing: -0.02em;
	color: #FFFFFF;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#subtitle{
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 400 !important;
	line-height: 30px;
	color: #FFFFFF;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#title-2{
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 600 !important;
	line-height: 72px;
	letter-spacing: -0.02em;
	color: #D7B377;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#subtitle-2{
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 400 !important;
	line-height: 30px;
	color: #8B1E3F;
	
}

#hero-btn{
	padding: 12px 32px 12px 32px;
	gap: 8px;
	border-radius: 999px;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 600 !important;
	line-height: 24px;
	background: #D7B377;
	color: #FFFFFF;
	text-align: center;
}

#carousel {
	width: 100%; 
	max-width: 800px; 
	margin: auto;
}

.rectangle {

	width: 100%; 
	height: 500px; 
	position: relative;
}

.carousel {
	height: 100%; 
}

.carousel-inner {
	height: 100%;

}

.carousel-item img {
	width: 100%;
	height: 100%;
	object-fit: cover; 
	object-position: center; 
}

@media (max-width: 767px) {

	#title {

		font-size: 40px;

	}

	#subtitle {

		font-size: 20px;
		margin-bottom: 50px ;
	}

	#title-2{
		font-size: 30px;
		line-height: 35px;
	}

	#subtitle-2{
		font-size: 15px;

		
	}

	.rectangle {

		width: 100%;
		height: 100%; 
		position: relative;
	}



}

@media (max-width: 576px) {

	.rectangle {

		width: 100%;
		height: 100%; 
		position: relative;
	}

	#title-2{
		font-size: 30px;
		line-height: 35px;s
	}

	#subtitle-2{
		font-size: 15px;

		
	}
}

footer{
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.5px;
	text-align: center;
	background: #62567E;
	color: #fff;
}

.card-img-container {
	width: 100%;
	height: 200px; 
	overflow: hidden;
	position: relative;
}

.card-img-top {
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center;
}

.card {
	width: 100%;
	height: 100%; 
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-body{
	padding: 0;
	margin: 0;
	padding-top: 10px;
	flex-direction: column;
	background-color: #ebecf3; 
	justify-content: space-between; 
	display: flex;
}


.card-footer {
	margin-top: auto; 
	background-color: white; 
	padding: 10px; 
	background-color: #62567E;
	border-top: 1px solid #dee2e6; 
}

#cards span {
	display: inline-block;
	margin-top: 3px;
	font-weight: 900;
	color: white;
	background-color: #D7B377;
	border-radius: 5px;
	padding: 5px;
}

#cards h2 {
	font-weight: 900;
	color: #D7B377;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#cards h5 {
	color: #54428E;
	font-size: 30px;
	font-weight: 900;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#cards p {
	font-family: Kanit, sans-serif;;
	font-weight: 200;
	color: #62567E;
	padding: 10px;
}